{
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "all",
	"printWidth": 125,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteBracketNewLine": true,
	"htmlWhitespaceSensitivity": "ignore"
}
